/* #################### VARIABLES #################### */


/* ###### COLOR ###### */

/* ## FONTS ## */
$color-txt-dark:#0D0D0D;
$color-txt-white: #fff;
$color-link:#262626;
$color-title:#262626;
$color-title-light:#262626;
$color-filAriane: #0D0D0D;

/* ## BACKGROUND ## */
$color-background:#fff;
$color-background-body:#345592;
$color-background-footer: #262626;
$color-background-nav: rgba(0,0,0,0.8);
$color-background-fieldset:#fff;

/* ## BORDER ## */

$color-border-white: #FFF;
$color-border-dark: #000;