/* #################### BASE #################### */

body {
    background-color: $color-background-body;
    @include mainFont; /* POLICE PRINCIPALE */
    text-align: left;  /* ALIGNEMENT TEXTE PRINCIPAL */
    margin : 1rem 0rem 0rem 0rem;
}

/* ##### TEXTES REGLES BASIQUES ##### */ 

a {
    color: $color-link;
    text-decoration:none;
    font-weight:700;
    
}

p {
    font-size:1.2rem;
    color:$color-txt-dark;
    font-weight:400;
      
}

h1 {
    font-size:3rem;
    color:$color-txt-dark;
    font-weight:700;
    text-align: center; 
    margin:0.2rem;
    @media all and (max-width:480px) {
        font-size:2.2rem;
    }
    @media all and (min-width:481px) and (max-width:960px){
        font-size:2.5rem;
    }
}

h2 {
    font-size:2rem;
    color:$color-title;
    font-weight:500;  
}

h3 {
    font-size:1.5rem;
    color:$color-title;
    font-weight:500;   
}

li {
    font-size:1.2rem;
    color:$color-txt-dark;
    font-weight:400;
    list-style-type:none;
}

figcaption {
    font-size:1rem;
    text-align:center;
}



/* ##### BLOCS ##### */ 


